.header {
  height: 75px;
  width: 100%;
  background: #fff;
  border: 1px solid transparent;
  box-shadow: 2px 2px lightgray;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  z-index: 2;
  .imageContainer {
    margin-left: 20px;
  }
  .module {
    display: flex;
    position: absolute;
    left: 300px;
    .moduleTitle {
      margin: 0 10px;
      text-decoration: none;
      color: black;
    }
  }
  .nav {
    position: absolute;
    right: 20px;
    .link {
      text-decoration: none;
      background: orange;
      padding: 10px;
      border-radius: 3px;
      color: black;
      cursor: pointer;
    }
  }
}
